html, body {
	height:95%;
	font-family:Tahoma;
	font-style:oblique;
	text-align:center;
}

body {
	background-color:#000;
}

h1 {
	font-family: 'Fjalla One', sans-serif;
	font-size:48pt;
}
body.bananae {
	background-color:#ff0;
	color:#000;
}

body.mensch {
	background-color:rgb(153, 51, 153);
	color:#fff;
}

body.urf {
	background-color:#f00;
	color:#fff;
}

div {
  height: 75%;
  text-align: center;
  padding: 0 20px;
  margin: 20px;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */}
